---

import BlockRenderer from "../components/BlockRenderer.astro";
import type { Block } from '@wp-block-tools/styles';
import CommonHead from "../components/CommonHead.astro";

export async function getStaticPaths() {
	const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
		method: "POST",
		headers: {
			"content-type" : "application/json"
		},
		body: JSON.stringify({
			query: `
				query AllPagesQuery {			
					pages(first: 1000) {
						nodes {
							uri
						}
					}
				}		
			`
		})
	}) ;
	const {data} = await response.json();
	return data.pages.nodes.map((page: any) => ({
		params: {
			slug: page.uri === "/" ? undefined : page.uri
		},
	}));
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
	method: "POST",
	headers: {
		"content-type" : "application/json"
	},
	body: JSON.stringify({
		query: `
			query PageQuery($uri: String!) {				
				nodeByUri(uri: $uri) {
					... on Page {
						id
						blocks
						seo {
							metaDesc
							title
						}
					}
				}
			}		
		`,
		variables: {
			uri: Astro.params.slug || "/",
		}
	})
}) ;

const {data} = await response.json();
const blocks = (data.nodeByUri?.blocks || []) as Block[];
const seo = data.nodeByUri?.seo;

---

<html lang="en">

	<CommonHead title={seo.title || ""} description={seo.metaDesc || ""} />
	<body>
		<BlockRenderer blocks={blocks} />
	</body>

</html>
