---
import BlockRendererInner from './BlockRenderer.astro';
import Navigation from './Navigation.astro';
import NavitagationSubmenu from './NavitagationSubmenu.astro';
import NavigationLink from './NavigationLink.astro';
import { getBlockStyling } from '@wp-block-tools/styles';
import type { Block } from '@wp-block-tools/styles';
import { Image } from "astro:assets";

type Props = {
    blocks: Block[];
}

const { blocks } = Astro.props;
---

{
    blocks.map(block => {

        const { styles, classes } = getBlockStyling(block);

        switch(block.name){

            case "core/navigation-submenu":
                return(
                    <NavitagationSubmenu
                        classes={classes} 
                        styles={styles}
                        label={block.attributes?.label || ""}
                        url={block.attributes?.url || ""}
                    >
                        <BlockRendererInner blocks={block.innerBlocks || []} />
                    </NavitagationSubmenu>
                );

            case "core/navigation-link":
                return(
                    <NavigationLink 
                        classes={classes} 
                        styles={styles}
                        label={block.attributes?.label || ""}
                        url={block.attributes?.url || ""}
                    />
                );

            case "core/navigation":
                return (
                    <Navigation classes={classes} styles={styles}>
                        <BlockRendererInner blocks={block.innerBlocks || []} />
                    </Navigation>
                );
            
            case "core/paragraph":
                return <p class={classes} style={styles} set:html={block.attributes?.content}> </p>

            case "core/columns":
            case "core/column":
            case "core/post-content": 

            case "core/group":
                return (
                    <div class={classes} style={styles}> 
                        <BlockRendererInner blocks={block.innerBlocks || []} />
                    </div>
                );

            case "core/site-logo":
                return(
                    <div class={classes} style={styles}>
                        <a href={Astro.url.href}>
                            <Image 
                                width={block.attributes?.width || "50"} 
                                height={block.attributes?.height || "50"}
                                src={block.attributes?.url || ""}
                                alt={block.attributes?.alt || "Logo site"} />
                        </a>
                    </div>
                );

            case "core/template-part":
                return(
                    <BlockRendererInner blocks={block.innerBlocks || []} />  
                );

            default: 
                return null;
        }
    })
}