---
import "../styles/global.css";
import "@fortawesome/fontawesome-svg-core/styles.css";

type Props = {
    title: string;
    description: string;
}

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
	method: "POST",
	headers: {
		"content-type" : "application/json"
	},
	body: JSON.stringify({
		query: `
			query MetadataQuery {
				cssVariables,
			}		
		`
	})
}) ;

const {data} = await response.json();
const { title, description } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title> {title} </title>
    <meta name="description" content={description}>
    { !!data.cssVariables && <style set:html={`:root{ ${data.cssVariables} }`} /> }
</head>